<div class="info">
    <div class="title">
        <p>Resumen</p> <!-- Modificar dependiendo Alta o Editar -->
        <hr>
        <p class="subtitle">El usuario</p>
    </div>

    <div class="container-column">
        <div class="column">
            <div class="form-group">
                <label>Núm. único de Usuario</label>
                <input class="form-control" placeholder="Selecciona" disabled>
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" placeholder="Selecciona" disabled>
            </div>
        </div>
        <div class="column">
            <div class="form-group">
                <label>Tipo de Usuario</label>
                <input class="form-control" placeholder="Selecciona" disabled>
            </div>
            <div class="form-group">
                <label>Cliente</label>
                <input class="form-control" placeholder="Selecciona" disabled>
            </div>
        </div>
        <div class="column">
            <div class="form-group">
                <label>Estatus</label>
                <input class="form-control" placeholder="Selecciona" disabled>
            </div>
            <div class="form-group">
                <label>Elemento de estructura</label>
                <input class="form-control" placeholder="Selecciona" disabled>
            </div>
        </div>
    </div>

    <div class="title">
        <hr>
        <p>¿Que deseas hacer?</p> <!-- Modificar dependiendo Alta o Editar -->
        <hr>
        <p class="subtitle-2"><span class="icon-uni">&#9205;</span>Selecciona una de las opciones</p>
    </div>
</div>