<nav class="navbar">
    <ul>
        <li routerLink="/consultar">
            <a><i class="fa fa-home"></i> Inicio</a>
        </li>
        <li>
            <a><i class="fa fa-bell"></i> Notificaciones</a>
        </li>
        <li>
            <div class="simple-text">Datos</div>
        </li>
    </ul>

    <ul>
        <li>
            <a><i class="fa fa-cogs"></i> Configuración</a>
        </li>
        <li>
            <a><i class="fa fa-power-off"></i> Salir</a>
        </li>
    </ul>
</nav>

<div class="navbar-d">
</div>

<div class="h-form">
    <div class="h2-form"></div>
    <div class="h3-form">
        <img src="../../assets/img/odessa-logo.png" alt="ODESSA">
        <div class="h-nav">
            <ul>
                <li><a><i class="fa fa-users"></i><p>Usuarios</p></a></li>
                <li><a><i class="fa fa-american-sign-language-interpreting"></i><p>Relaciones</p></a></li>
                <li><a><i class="fa fa-id-badge"></i><p>Perfiles</p></a></li>
                <li><a><i class="fa fa-book"></i><p>Catalogos</p></a></li>
                <li><a><i class="fa fa-folder-open"></i><p>Elementos Sistema</p></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="fill">
</div>

